body{
    /* background-color: rgb(138, 175, 216); */
    background-image: url('../images/BG1.jpg');
    /* background-repeat: no-repeat; */
    /* background-position: center;
    
    background-size: cover;
    height: 100%;  */
}

#profile-img{
    border-radius: 50%;
}

#profile-name{
    font-size: 60px;
    /* color: rgb(224, 26, 26); */
    /* color: rgb(243, 47, 26); */
    color: midnightblue;
}

#top-row{
    /* background-color: #355991; */
    font-family: 'Courgette', cursive;
    background-color: rgb(241, 198, 116);
    /* background-color:grey; */
}

#navbar-container, #content-container, #portfolio-container, #contact-container{
      padding-left: 0px;
      padding-right: 0px;
 }

.navbar-custom{
    background-color: rgb(241, 198, 116);
    font-family: 'Courgette', cursive;
}

#nav-portfolio, #nav-profile, #nav-contact{
      font-size: 20px;
}
  
.card{
      background-color: rgb(241, 198, 116);
      color: black;
      
      
}

.card-body{
    font-family: 'Courgette', cursive;
    
}
a{
    color: midnightblue;
    /* font-weight: bold; */
    
}
h5{
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    color: midnightblue;
    /* color: maroon; */
}

