body{
    background-color: rgb(245, 241, 209);
}
#profile-img{
    border-radius: 50%;
  }

  #top-row{
    background: linear-gradient(to right, rgb(73, 183, 226), rgb(70, 70, 151), rgb(193, 234, 245));
  }

  #navbar-container, #content-container, #portfolio-container, #contact-container{
      padding-left: 0px;
      padding-right: 0px;
  }